<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.ui.team"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.jdt.ui.team.TeamPlugin">

   <runtime>
      <library name="jdtteam.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.compare"/>
   </requires>

<!-- ***************** Logical views ********************** -->
<extension
         point="org.eclipse.team.ui.logicalViews">
      <logicalView
            name="%JavaLogicalView.name"
            description="%JavaLogicalView.description"
            class="org.eclipse.jdt.ui.team.JavaLogicalViewProvider"
            id="org.eclipse.jdt.ui.team.java-logical-view">
      </logicalView>
</extension>

</plugin>
